@media (max-width: $mediaQuery-576px) {
    .topbar {
        background-color: rgb(255, 96, 0);
        width: 100%;
        height: 205px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .barrabusqueda {

        margin: auto;
        width: 80%;
        max-width: 575px;
        height: 30px;
        fill-opacity: 100%;
        z-index: 25;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 30px;
        border-radius: 25px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
    }

    .website-logov2 {
        margin: auto;
        width: 315px;
        height: 95px;
        background-image: url("../assets/img/logositioweb.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        object-fit: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        left: 0%;
        top: 10px;
        z-index: 35;
    }

    .nav {

        position: relative;
        bottom: calc(100% + 30px);
        height: 100%;
        width: 150%;
    
        padding-left: 0px;
        background-color: transparent;
        text-align: center;
    }

    .aviso-importante {
        position: absolute;
        width: 100%;
        height: 60px;
        top: 10px;
    
        position: relative;
        display: grid;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        border: 0.3px solid #000000;
    
        background: #000000;
        color: #FFFFFF;
    
        border: 0.3px solid #000000;
    }

    .banner-fondo {
        position: relative;
        background-color: #653de7;
        background-color: transparent;
        top: 20px;
        height: 2500%;
        width: 100%;
    }
    
    .banner-imagen {
        margin: auto;
        width: 100%;
        height: 500px;
        top: 20px;
        background-color: transparent;
        display: block;
        fill-opacity: 0%;
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: contain;

        position: relative;
        background-image: url('../assets/img/banner.png') 
    }

    .tarjetas-frame {
        position: relative;
    
        top: 0px;
        margin: auto;
        width: 90%;
        height: 350px;
        z-index: 25;
        background-color: rgb(255, 96, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        fill-opacity: 0%;
    
        box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    
    }
    
    .rapipago-etc-frame {
        position: relative;
    
        top: 35px;
        margin: auto;
        width: 90%;
        height: 240px;
        z-index: 25;
        background-color: rgb(255, 96, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        fill-opacity: 0%;
    
        box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    
    }

    .transferencia-frame {
        position: relative;
    
        top: 65px;
        margin: auto;
        width: 90%;
        height: 255px;
        z-index: 25;
        background-color: rgb(255, 96, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        fill-opacity: 0%;
    
        box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    
    }

    .efectivo-frame {
        position: relative;
    
        top: 100px;
        margin: auto;
        width: 90%;
        height: 200px;
        z-index: 25;
        background-color: rgb(255, 96, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        fill-opacity: 0%;
    
        box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

    .unboxings-lista {
        position: relative;
        top: 20px;
        width: 100%;
        height: fit-content;
        padding-left: 0px;
        background-color: transparent;
        text-align: center;
    }

    .yt-video {
        width: 97%;
        height:320px;
    }

    .componentes-flexbox {

        position: relative;
        top: 20px;
        width: 100%;
        height: 1420px;
        display: flex;
    
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        background-color: transparent;
        z-index: 5;
    
        margin: auto;
        max-width: 1450px;
    
    }

    .componente1 {
        width: 230px;
        height: 230px;
        background-color: transparent;
        outline: #000000;
    }
}

@media (max-width: 390px) {

    .componentes-flexbox {

        position: relative;
        top: 25px;
        width: 360px;
        height: 1060px;
        display: flex;
    
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: wrap;
        align-content: flex-start;
        align-items: center;
        background-color: transparent;
        z-index: 5;
    
        margin: auto;
        max-width: 900px;
    
    }
    
    .componente1 {
        width: 170px;
        height: 170px;
        background-color: transparent;
        outline: #000000;
    }

    .divisor-final {
        position: relative;
        width: 100%;
        height: 160px;
        background-color: transparent;
    }
}